@media (max-width:950px) {
		  .page content {
			width: 100%;
		  }
		}
body{
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width:960px;
	margin:0 auto;
	overflow:hidden;
	color: #777;
}
content{
	width:100%;
	margin:0 auto;
	padding:5px;
	color: #777;
	min-height:70vh;
}
nav,header{
	text-align:center;
	background-color:#ebebeb;
	line-height:65px;
	margin-bottom:5px;
	}

.page{
	width:100%;
	margin-top:20px;
	min-height:70vh;
	}
content section{
	width:495px;
	float:left;
	margin-right:12px;
	background-color:#ebebeb;
	height:300px;
	text-align:center;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	}
content aside{
	width:410px;
	float:right;
	background-color:#ebebeb;
	height:310px;
	text-align:center;
	}
footer{
	width:97%;
	overflow:hidden;
	background-color:#ebebeb;
	position:relative;
	bottom:-100%;
	margin-top:15px;
	padding:15px;
	}
footer .clear{
	clear:both;
	text-align:center;
	}
article{
	background-color: #777;
	color:#ebebeb;
	padding:15px;
}
article p{
	background-color:#ebebeb;
	line-height:55px;
	color:#777;
}